#Terraform files
stacks/Projet/.terraform
stacks/Projet/.terraform.lock.hcl
stacks/Projet/terraform.tfstate
stacks/Projet/terraform.tfstate.backup
stacks/Infrastructure/terraform.tfstate
stacks/Infrastructure/.terraform.lock.hcl
stacks/Infrastructure/.terraform
stacks/Infrastructure/terraform.tfstate.backup
stacks/bootstrap/bootstrap_secret.tfvars

#Venv
.venv/

#idea
.idea/

# Credentials
*.json